:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    /* color-scheme: light dark;              */
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: skyblue; */
    background-image: url("/src/assets/joanna-kosinska-1_CMoFsPfso-unsplash.jpg");
    background-size: 120vw 100vh; /* Set the background image size to 50% of its container's width and height */
    background-repeat: no-repeat;
}